#pragma once

static const char* wifiSSID = "wifiNetworkName";
static const char* wifiPassword = "wifiPassword";

static const char* mqttServer = "192.168.0.60";
static const char* mqttUser = "username";
static const char* mqttPassword = "password";