#pragma once

constexpr char* wifiSSID = "wifiNetworkName";
constexpr char* wifiPassword = "wifiPassword";

constexpr char* mqttServer = "192.168.0.60";
constexpr char* mqttUser = "username";
constexpr char* mqttPassword = "password";